<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616323031019-2g1aqgih195cm6nkbjoc337blmq5kkno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616323031019-2g1aqgih195cm6nkbjoc337blmq5kkno</string>
	<key>API_KEY</key>
	<string>AIzaSyB5msPo97DrOse8vUvnhcfO4XZHuBhJrW8</string>
	<key>GCM_SENDER_ID</key>
	<string>616323031019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ansa.Food-Ordering-App</string>
	<key>PROJECT_ID</key>
	<string>foodorderingapp-e1d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorderingapp-e1d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616323031019:ios:c2a1915777b92aa3ba03ae</string>
</dict>
</plist>